<h1> {{title}} </h1>
<button id="btn" (click)="makeHttp()">Make HTTP</button>
<div *ngIf="data.length > 0">
  <ul id="postsContainer">
    <li *ngFor="let post of data"> {{ post.title }}</li>
  </ul>
</div>
